
* {
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  margin: auto;
  width: 65%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color:  #696868;
  min-width: 450px;
  min-height: 650px;
  padding : 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
}

.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}


